.navbar-nav .nav-item:hover .nav-link  {
    color: teal;
}



.fab:hover, .fas:hover, .far:hover{
    /* https://en.wikipedia.org/wiki/Teal */
    color: teal;
    /* TODO: Add blog post about teal */
}

.far.fa-lemon:hover {
    /* Lemon Lime - https://en.wikipedia.org/wiki/Lime_(color)#Lemon-lime */
    color: rgb(227, 255, 0);
}



.eigengrau {
    /* Eigengrau - https://en.wikipedia.org/wiki/Eigengrau */
    background-color: rgb(22,22,29);
    /* TODO: Add blog post about eigengrau */
}

/* Popover */
.popover {
    border: 2px solid teal;
    max-width:600px;
}

/* Popover Body */
.popover-body {
/*background-color: rgb(34,34,34);*/
    background-color: rgb(22,22,29);
}

/* Popover List Item */
.popover-list-item { 
    margin: 10px 0;
}

.bs-popover-auto[x-placement^="bottom"] > .arrow::after, .bs-popover-bottom > .arrow::after {
    border-bottom-color: teal;
}

body {
    padding-top: 70px;
  }